@model DogsSocialNetwork.Models.Pet
@using DogsSocialNetwork.Helpers
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!String.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Url.Action("GetImage", "Home", new { path = Model.ImagePath })" alt="@Model.Name" class="petImage" style="width: 150px; height: 150px; position: absolute; right: 250px;" />
        }

        <dt>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>



        @if (Model.AncestryId != null)
        {
            <dt>
                Detailed Info
            </dt>

            <dd>
                @Html.ActionLink("Ancestry", "AncestryDetails", new { petId = Model.Id })
            </dd>
        }

        @if (Model.BreederId != null)
        {
            <dt>
                Breeder Info
            </dt>

            <dd>
                @Html.ActionLink("Breeder", "BreederInfo", new { breederId = Model.BreederId })
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Like", "Like", new { petId = Model.Id }) /
    @Html.ActionLink("Dislike", "Dislike", new { petId = Model.Id })
</p>

<p>
    @Html.ActionLink("Back to Home", "Index", new { userId = UserHelper.CurrentUserID })
</p>
