@model DogsSocialNetwork.Models.Pet

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!String.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Url.Action("GetImage", "Home", new { path = Model.ImagePath })" alt="@Model.Name" class="petImage" style="width: 150px; height: 150px; position: absolute; right: 250px;" />
        }

        <dt>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Model.User.FirstName @Model.User.LastName
        </dd>


        @if (Model.AncestryId != null)
        {
            <dt>
                Detailed Info
            </dt>

            <dd>
                @Html.ActionLink("Ancestry", "AncestryDetails", new { petId = Model.Id })
            </dd>
        }


    </dl>
</div>
<p>
    <a href='javascript:history.go(-1)'>Back</a>
</p>
