@model IEnumerable<DogsSocialNetwork.Models.Pet>

@{
    ViewBag.Title = "Pets";
}

@Scripts.Render("~/Scripts/ManagementScripts.js")

<h2>Pets</h2>

<p>
    @Html.ActionLink("Add New", "Create", new { userId = ViewBag.UserId })
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("Find a pair", "PairSearch", new { petId = item.Id })
        </td>
        <td>
            @Html.ActionLink("Ancestry", "Ancestry", new { petId = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Set picture", "Upload", new { petId = item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { petId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { petId = item.Id }, new { @class = "btnDelete" })
        </td>
    </tr>
    }

</table>

@Html.ActionLink("Back to Home", "Index", new { userId = ViewBag.UserId })

